<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Data Properties</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    <link rel="stylesheet" href="../css/jqtree.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
        <div class="col-sm-3 tree well well-sm">
            <h4>Data Property Hierarchy
                <a href="#"  data-toggle="modal" data-target="#addDProperty" id="addBtn"><span class="glyphicon glyphicon-plus fa-md "/></a>
                <!--<form th:if="${undo}" action="/undo"  method="get" name="addForm">-->
                    <!--<button type="submit" class="btn btn-link"> <span class="glyphicon glyphicon-repeat"/></button>-->
                <!--</form>-->
            </h4>
            <div id="tree"></div>
        </div>
        <div class="col-sm-9 tree well well-sm" th:if="${session.currentDP} != 'topDataProperty'">

            <div class="panel panel-warning">
                <div class="panel-heading">Property
                    <a href="#" onclick="changeAction('/removeDProperty');" data-toggle="modal" data-target="#deleteForm"><span class="glyphicon glyphicon-remove-circle fa-lg pull-right"/></a>
                </div>
                <div class="panel-body">
                    <p th:text="${session.currentDP}"></p></div>
            </div>

            <div class="panel panel-warning" name="cats">
                <div class="panel-heading" >Characteristics </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <label><input type="checkbox" disabled="disabled" value="F" th:checked="${isFunctional} ? 'checked'"/>Functional</label>
                        <form th:action="@{/editDCharacteristics}" method="post" name="addForm">
                            <button style="display: inline" type="submit" class="btn btn-primary pull-right" >Change</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">Disjoint Properties
                    <a onclick="loadNonDisjoint()" href="#" data-toggle="modal" data-target="#addDisDProperty" ><span class="glyphicon glyphicon-plus-sign fa-lg pull-right"/></a>
                </div>
                <div class="panel-body">
                    <ul class="list-group" >
                        <li class="list-group-item" th:each="item : ${disjointDP}">
                            <span th:text="${item}">Grrr!!!</span>
                            <a href="#" th:onclick="'javascript:changeAction(\'/removeDisDProperty/'+${item}+'\');'" data-toggle="modal" data-target="#deleteForm"><span class="glyphicon glyphicon-remove-circle fa-lg pull-right"/></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">Property Domains
                    <a onclick="getClassList()" href="#" data-toggle="modal" data-target="#addDPropertyDomain" ><span class="glyphicon glyphicon-plus-sign fa-lg pull-right"/></a>
                </div>
                <div class="panel-body">
                    <ul class="list-group" >
                        <li class="list-group-item" th:each="item : ${domainDP}">
                            <span th:text="${item}">Grrr!!!</span>

                            <a href="#" th:onclick="'javascript:changeAction(\'/removeDPropertyDomain/'+${item}+'\');'" data-toggle="modal" data-target="#deleteForm"><span class="glyphicon glyphicon-remove-circle fa-lg pull-right"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Property Ranges
                    <a onclick="getDataTypes()" href="#" data-toggle="modal" data-target="#addDPropertyRange" ><span class="glyphicon glyphicon-plus-sign fa-lg pull-right"/></a>
                </div>
                <div class="panel-body">
                    <ul class="list-group" >
                        <li class="list-group-item" th:each="item : ${rangeDP}">
                            <span th:text="${item}">Grrr!!!</span>
                            <a href="#" th:onclick="'javascript:changeAction(\'/removeDPropertyRange/'+${item}+'\');'" data-toggle="modal" data-target="#deleteForm"><span class="glyphicon glyphicon-remove-circle fa-lg pull-right"/></a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addDProperty">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4>Add New Data Property</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">

                <!--/*@thymesVar id="transfer" type="hello.bean.transfer"*/-->
                <form action="#" id="add-form" th:action="@{/addNewDProperty}" th:object="${transfer}" method="post" name="addForm">
                    <input type="hidden" name = "cardinality" value="0"/>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{currentClass}" class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label>Parent</label>
                        <select class="form-control" id="dp1" name="oProperties">
                            <option value="topDataProperty">topDataProperty</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" th:field="*{classList}" value="F"/>Functional</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" id="comment"  th:field="*{description}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="submitBtn" class="btn btn-success btn-block"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDisDProperty">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Add Disjoint Data Properties</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">

                <!--/*@thymesVar id="transfer" type="hello.bean.transfer"*/-->
                <form action="#" th:action="@{/addDisDProperty}" th:object="${transfer}" method="post" name="addForm">
                    <input type="hidden" value="0"/>
                    <div class="form-group">
                        <label>Property</label>
                        <input type="text" th:value="${session.currentDP}" name="currentClass" class="form-control" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label>Disjoint Properties</label>
                        <select class="form-control" id="dp3" name="oProperties" multiple="multiple">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" th:field="*{description}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDPropertyDomain">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4>Add Data Properties Domains</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">

                <!--/*@thymesVar id="transfer" type="hello.bean.transfer"*/-->
                <form action="#" th:action="@{/addDPropertyDomain}" th:object="${transfer}" method="post" name="addForm">
                    <input type="hidden" value="0"/>
                    <div class="form-group">
                        <label>Property</label>
                        <input type="text" th:value="${session.currentDP}" name="currentClass" class="form-control" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label>Domain</label>
                        <select class="form-control" id="cl1" name="classList" >
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" th:field="*{description}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDPropertyRange">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4>Add Data Properties Ranges</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">

                <!--/*@thymesVar id="transfer" type="hello.bean.transfer"*/-->
                <form action="#" th:action="@{/addDPropertyRange}" th:object="${transfer}" method="post" name="addForm">
                    <input type="hidden" value="0"/>
                    <div class="form-group">
                        <label>Property</label>
                        <input type="text" th:value="${session.currentOP}" name="currentClass" class="form-control" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label>Range</label>
                        <select class="form-control" id="dt" name="classList" >
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" th:field="*{description}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:40px 50px;">
                <!--/*@thymesVar id="transfer" type="hello.bean.transfer"*/-->
                <form action="#" th:object="${transfer}" method="get" name="addForm">
                    <input type="hidden" value="0"/>
                    <div class="form-group">
                        <label>State the Reason For Deletion</label>
                        <textarea class="form-control" rows="5" th:field="*{description}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block"> Remove </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<script src="../js/notify.min.js"></script>
<script  th:inline="javascript">
    /*<![CDATA[*/
    var node = ([[${session.currentDP}]]);
    /*]]>*/

    $(document).ready(function () {
        $('#tree')
            .on('changed.jstree', function (e, data) {
                var objNode = data.instance.get_node(data.selected);
                var url = '/dataPropertyDetail/' + objNode.text;
                location.href = url;
            })
            .jstree({
                core: {
                    data: JSON.parse([[${tree}]])
                },
                types: {
                    "default": {
                        "icon": "glyphicon glyphicon-leaf"
                    }
                },
                plugins: ["types"]

            });
        $("#tree").on('ready.jstree', function () {
            var instance = $("#tree").jstree(true);
            var branchCont = instance._model.data;
            for (var branchKey in branchCont) {
                var branch = branchCont[branchKey];
                if (branch.text === node) {
                    instance.select_node(branchKey, true, false);
                    break;
                }
            }
            $("#tree").jstree('open_all');
        });

        $("[name='addForm']").on('submit', function(e){
            e.preventDefault();
            var self = this;
            var form = $(this);
            if (form.data('requestRunning')) {
                return;
            }

            form.data('requestRunning', true);

            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                data: form.serialize(),
                success: function(result){
                    if(result|| (result.indexOf("Deleted")>-1)){
                        $.notify("Modification Success: ", "success");
                    }else{
                        $.notify("Modification Failed: " , "error" );
                    }


                    setTimeout(
                        function()
                        {
                            if(result.indexOf("Deleted")>-1){
                                window.location='/dataPropertyDetail/topDataProperty';
                            }else{
                                location.reload(true);
                            }
                        }, 2000);



                },
                complete: function (e) {
                    form.data('requestRunning', false);
                }

            });
        });
        loadPropertyData();

    });

    function loadPropertyData() {
        $.ajax({
            url: '/getDataProperties',
            type: 'get',
            dataType: 'json',
            success: function (json) {
                $.each(json, function (i, value) {
                    $('#dp1').append($('<option>').text(value).attr('value', value))
                        .append("</option>");
                });
            }
        });


    }
    function getClassList(){

        $('#cl1').empty();
        $.ajax({
            url: '/getClassList',
            type: 'get',
            dataType: 'json',
            success: function (json) {
                $.each(json, function (i, value) {
                    $('#cl1').append($('<option>').text(value).attr('value', value)).append("</option>");
                });
            }
        });
    }

    function getDataTypes(){

        $('#dt').empty();
        $.ajax({
            url: '/getDataTypes',
            type: 'get',
            dataType: 'json',
            success: function (json) {
                $.each(json, function (i, value) {
                    $('#dt').append($('<option>').text(value).attr('value', value)).append("</option>");
                });
            }
        });
    }

    function loadNonDisjoint(){
        $('#dp3').empty();
        $.ajax({
            url: '/getNonDisDProperties',
            type: 'get',
            dataType: 'json',
            success: function (json) {
                $.each(json, function (i, value) {
                    $('#dp3').append($('<option>').text(value).attr('value', value))
                        .append("</option>");
                });
            }
        });
    }

    function loadDisjoint(){
        $('#disDP').empty();
        $.ajax({
            url: '/getDisDProperties',
            type: 'get',
            dataType: 'json',
            success: function (json) {
                $.each(json, function (i, value) {
                    $('#disDP').append($('<li class="list-group-item">').text(value).attr('value', value))
                        .append("</li>");
                });
            }
        });
    }

    function changeAction(url,obj){
        $("#deleteForm").find("form").attr("action",url);
    }
</script>
</body>
</html>
