<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Version Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    <link rel="stylesheet" href="css/jquery.bootgrid.min.css/"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

    <link rel="stylesheet" href="/css/main.css"/>
    <style>
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }
    </style>

</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Current Version</div>
        <div class="panel-body">
            <p th:text="${version}"></p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Version Graph</div>
        <div id="tree">
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Version Details</div>
        <div class="panel-body">
            <table id="data" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Prior</th>
                    <th>Description</th>
                    <th>Created time</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://tntvis.github.io/tnt.tooltip/build/tnt.tooltip.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var treeData = JSON.parse([[${tree}]]);

    $(document).ready( function () {
        var table = $('#data').DataTable({
            "sAjaxSource": "/getAllVersions",
            "sAjaxDataProp": "",
            "order": [
                [0, "asc"]
            ],"aoColumns": [
                { "mData": "id" },
                { "mData": "number" },
                { "mData": "prior" },
                { "mData": "description" },
                { "mData": "time" }
            ],columnDefs: [
                { targets: 0, visible:false },
            ]
        });

        $('#data tbody').on('click', 'button', function () {
            var data = table.row( $(this).parents('tr') ).data();

            $.ajax({url: "changeVersion/"+data.id,
                success: function(result){
                    location.reload(true);
                }});
        });
    });


    var margin = {
            top: 20,
            right: 120,
            bottom: 20,
            left: 120
        },
        width = 600 - margin.right - margin.left,
        height = 400 - margin.top - margin.bottom;

    var i = 0,
        duration = 750,
        root;

    var tree = d3.layout.tree().size([height, width]);
    var diagonal = d3.svg.diagonal()
        .projection(function (d) {
            return [d.y, d.x];
        });

    var svg = d3.select("#tree").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var tooltip = d3.select("#tree").append("div")
        .attr("class", "tooltip")
        .style("fill","transparent")
        .style("opacity", 0);

    root = treeData;
    root.x0 = height / 2;
    root.y0 = 0;

    root.children.forEach(collapse);
    update(root);

    function collapse(d) {
        if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
        }
    }

    function update(source) {
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);

        nodes.forEach(function (d) {
            d.y = d.depth * 180;
        });

        var node = svg.selectAll("g.node")
            .data(nodes, function (d) {
                return d.id || (d.id = ++i);
            });

        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                return "translate(" + source.y0 + "," + source.x0 + ")";
            });

        nodeEnter.append("circle")
            .attr("r", 1e-6)
            .style("fill", function (d) {
                return d.endNode ? "orange" : "lightsteelblue";
            })
            .on("click", click)
            .on("mouseover", function (d) {
                if (d.changes) {
                    tooltip.transition()
                        .duration(200)
                        .style("opacity", .9);

                    var chtml = "<p>";
                    for(i=0;i<d.changes.length;i++){
                        if(i===d.changes.length-1){
                            chtml +=d.changes[i];
                            break;
                        }
                        chtml+=d.changes[i]+"<hr/>";
                    }
                    chtml+="</p>";
                    tooltip.html(chtml)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY+ 50) + "px");
                }
            });

        tooltip.on("mouseout", function(d){
            tooltip.transition()
                .duration(500)
                .style("opacity", 0);
        });

        nodeEnter.append("text")
            .attr("x", function (d) {
                return 15;
            })
            .attr("dy", ".35em")
            .attr("text-anchor", function (d) {
                return "start";
            })
            .text(function (d) {
                return d.text;
            })
            .style("fill-opacity", 1e-6);
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + d.y + "," + d.x + ")";
            });

        nodeUpdate.select("circle")
            .attr("r", 10)
            .style("fill", function (d) {
                return d.endNode ? "orange" : "lightsteelblue";
            });

        nodeUpdate.select("text")
            .style("fill-opacity", 1);

        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        var link = svg.selectAll("path.link")
            .data(links, function (d) {
                return d.target.id;
            });

        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function (d) {
                var o = {
                    x: source.x0,
                    y: source.y0
                };
                return diagonal({
                    source: o,
                    target: o
                });
            });

        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        link.exit().transition()
            .duration(duration)
            .attr("d", function (d) {
                var o = {
                    x: source.x,
                    y: source.y
                };
                return diagonal({
                    source: o,
                    target: o
                });
            })
            .remove();

        nodes.forEach(function (d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });

    }

    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d);
    }
    /*]]>*/
</script>

</body>

</html>